/*codigo extraido de : https://codepen.io/TSUmari/pen/WmXGgo*/

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.imagen{
  width: 70px;
  height: 400px;
}

.column {
  float: left;
  width: 50%;
  padding: 10px 10px;
  
}

.item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  padding: 16px;
  background-color: #323242;
}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.plx-card {
  transition: all 600ms ease;
  max-width: 1100px;
  display: flex;
  position: relative;
  overflow: hidden;
  margin: 30px 0;
  filter: drop-shadow(0 2px 1rem rgb(168, 168, 168));
  border-radius: 4px;
}
.plx-card.bronze {
  overflow: visible;
}
@media screen and (max-width: 1000px) and (min-width: 700px) {
  .plx-card.bronze {
    left: 120px;
  }
}
@media screen and (min-width: 700px) {

  .plx-card.bronze {
    height: 134px;
    width: 480px;
    display: inline-flex;
    margin: 30px 30px;
  }
}
@media screen and (max-width: 700px) {
  .plx-card {
    height: auto;
    width: auto;
    flex-direction: column;
    border-radius: 2px;
    margin: 25px 15px;
  }


}

.pxc-avatar {
  transition: all 600ms ease;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 150px;
  justify-content: space-around;
}
.bronze .pxc-avatar img {
  width: 90px;
  height: 90px;
  top: -15px;
  left: -20px;
  position: absolute;
}
@media screen and (max-width: 700px) {
  .pxc-avatar {
    width: 100%;
    height: 100px;
    justify-content: space-around;
    align-items: center;
  }

  .bronze .pxc-avatar {
    height: 150px;
  }
  .bronze .pxc-avatar img {
    top: -105px;
    left: -10px;
    height: 80px;
    width: 80px;
  }
}
.pxc-avatar img {
  transition: all 600ms ease;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  box-shadow: 0 1px 1rem rgba(10, 10, 25, 0.5);
  position: relative;
  z-index: 1;
}


.bronze .pxc-bg {
  background-size: cover;
  position: absolute;
  left: 70px;
  width: 300px;
  height: 100%;
  max-height: 200px;
  border-radius: 100;
  background-position: 0 -10px;
}



.pxc-subcard {
  transition: all 600ms ease;
  border-radius: 3px;
  background: #1D1D2B;
  width: 650px;
  margin: 25px 200px 25px -25px;
  z-index: 0;
  padding: 15px 25px 15px 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 1rem rgba(10, 10, 25, 0.3);
}

.bronze .pxc-subcard {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 15px 10px 10px 70px;
  width: 750px;
  max-height: 120px;
  border-radius: 0;
}
@media screen and (max-width: 900px) {
  .pxc-subcard {
    margin-right: 120px;
    margin-left: -32px;
  }
}

.pxc-stopper {
  transition: all 600ms ease;
  height: 100%;
  width: calc(60%);
  background: #FFF8;
  display: block;
  position: absolute;
  z-index: 0;
  left: 75px;
}
.bronze .pxc-stopper {
  display: none;
}
@media screen and (max-width: 900px) {
  .pxc-stopper {
    left: 50px;
  }
}
@media screen and (max-width: 700px) {
  .pxc-stopper {
    left: 0;
    width: 100%;
    top: 200px;
    height: calc(100% - 200px);
    background: white;
    border-radius: 0;
  }
  
}

.pxc-tags {
  position: absolute;
  bottom: -15px;
  right: 10px;
  height: 32px;
  overflow: hidden;
  text-align: right;
}

.pxc-tags div {
  color: white;
  display: inline-block;
  background: #8855DD;
  border-radius: 12px;
  padding: 2px 10px;
  line-height: 1.7;
  margin: 4px 4px;
  font-size: 12px;
  height: 20px;
}
@media screen and (max-width: 700px) {
  .pxc-tags {
    height: 64px;
    text-align: center;
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
    margin-bottom: 10px;
  }
  .pxc-tags div {
    color: #8855DD;
    border: solid 1px #8855DD;
    background: transparent;
  }
}

.pxc-title {
  font-size: 24px;
  margin-bottom: 4px;
  color: white;
  width: calc(100% - 50px);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 0 0 auto;
}
.bronze .pxc-title {
  font-size: 18px;
}
@media screen and (max-width: 700px) {
  .pxc-title {
    font-size: 16px;
    white-space: initial;
    overflow: initial;
    text-overflow: initial;
  }
}

.pxc-sub {
  font-size: 20px;
 
  flex: 1 1 auto;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(black 80%, transparent 100%);
  color: #a6aad1;
  border-bottom: 50px;
}
.silver .pxc-sub {
  overflow: visible;
}
@media screen and (max-width: 700px) {
  .pxc-sub {
    font-size: 30px;
  }
}


 .pxc-feats, .bronze .pxc-feats {
  display: none;
}


@media screen and (max-width: 700px) {
  .bottom-row .links {
    justify-content: center;
    margin-top: 10px;
    margin-bottom: -10px;
  }
  .bottom-row .links a {
    color: #a6aad1;
  }
}
.bottom-row .flags {
  overflow: hidden;
  height: 23px;
}
.bottom-row .flags span {
  margin: 2px 6px;
  background: white;
  border-radius: 3px;
  width: 24px;
  height: 16px;
  display: inline-block;
}
.bottom-row .region {
  color: white;
  margin-left: 8px;
}
h2{
  text-align: center;
  color: aliceblue;
  font-size: 40px;
}

